<div ng-controller="PostCtrl">
  <div class="content-no-sidebar-left">

    <!--Questions Section -->
    <div class="ml-4 mr-1 description-text"><h1>{{post.postTitle}}</h1></div>

    <div ng-if="isAdmin || isOwner">
      <div class="row d-flex my-1 justify-content-end">
        <div class="row d-flex">
          <div class="mb-4 mx-2">
            <a href="/posts/edit_post/{{post.postId}}" >
            <button class="btn btn-info btn-block text-nowrap" type="button">
              <i class="fa fa-edit fa-sm mr-1"></i>
              {{'BUTTON_EDIT_POST' | translate}}
            </button>
            </a>
          </div>
          <div class="mx-2">
            <button class="btn btn-danger btn-block text-nowrap" type="button" data-toggle="modal" ng-click="deletePost(post.location)" data-target="#deletePostModal">
              <i class="fas fa-trash-alt fa-sm mr-1"></i>
              {{'BUTTON_DELETE_POST' | translate}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="post-cards">
      <div class="row post-data">
        <!-- Up Vote - Down Vote section -->
        <div class=" ml-4 col-1 net-votes">

            <div ng-if="username == 'anonymousUser'">
              <button ng-if="user.name == 'anonymousUser'" class="btn pt-0 pb-0"><i class="fa fa-2x fa-arrow-up" data-toggle="modal" data-target="#loginModal"></i></button>
              <div>
                <h4>{{post.votesUp - post.votesDown}}</h4>
              </div>
              <button class="btn pt-0 pb-0"><i class="fa fa-2x fa-arrow-down" data-toggle="modal" data-target="#loginModal"></i></button>
            </div>
            <div ng-if="username != 'anonymousUser'">

                <div ng-if="!isEnabled">
                  <button class="btn pt-0 pb-0"><i class="fa fa-2x fa-arrow-up" data-toggle="modal" data-target="#confirmMailModal"></i></button>
                  <div>
                    <h4>{{post.votesUp - post.votesDown}}</h4>
                  </div>
                  <button class="btn pt-0 pb-0"><i class="fa fa-2x fa-arrow-down" data-toggle="modal" data-target="#confirmMailModal"></i></button>
                </div>
                <div ng-if="isEnabled">
                    <div class="net-votes">
                      <button class="btn pt-0 pb-0" type="submit" ng-click="upVote(post)">
<!--                        <i ng-if="post.getUserAuthVote(user.name) > 0" class="fa fa-2x fa-arrow-up votedUp"></i>-->
                        <i class="fa fa-2x fa-arrow-up"></i>
                      </button>
                      <div>
                        <h4>{{post.votesUp - post.votesDown}}</h4>
                      </div>
                    </div>

                    <div class="net-votes">
                      <button class="btn pt-0 pb-0" type="submit" ng-click="downVote(post)">
                        <i ng-if="post.getUserAuthVote(username) < 0" class="fa fa-2x fa-arrow-down votedDown"></i>
                        <i ng-if="post.getUserAuthVote(username) >= 0" class="fa fa-2x fa-arrow-down"></i>
                      </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
          <div class="row post-description description-text">
            {{post.postDescription}}
          </div>
          <div class="row extra-info">
            <!-- Tags section -->
            <div class="col-9 tags">
                <button ng-repeat="tag in post.postTags" class="badge badge-color ml-1" ng-click="redirect('/explore')">
                      <span ng-switch="tag.type">
                          <span ng-switch-when="tech_category">
                              {{'CATEGORY_' + tag.tagName | uppercase | translate}}
                          </span>
                          <span ng-switch-when="tech_type">
                              {{'TYPE_' + tag.tagName | uppercase | translate}}
                          </span>
                          <span ng-switch-default>
                              {{tag.tagName}}
                          </span>
                      </span>
                </button>
            </div>
            <div class="col">
              <div class="row d-flex secondary-color text-right post-date">
                {{post.timestamp.toLocaleString()}}
              </div>
              <div class="row d-flex secondary-color text-right">
                <a ng-href="#/{{post.postOwner.location}}">{{post.postOwner.username}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Answers Section -->
  <div class="answers">
    <div class="title"><h3>{{'POST_ANSWERS' | translate}}</h3></div>

      <div ng-if="!answers.isEmpty()">

          <div ng-repeat="answer in answers" class="post-cards">
            <div class="card mb-3 post-card-answer">
              <div class="card-body">
                <!-- Delete comment -->
                <div ng-if="isAdmin || isOwner || answer.user.username == user.name">
                  <div class="row">
                      <span class="col d-flex justify-content-end align-items-end">
                          <button class="btn btn-link" ng-click="openDeleteCommentModal()"  data-toggle="modal" data-target="#deleteCommentModal"><i class="fa fa-trash"></i></button>
                      </span>
                  </div>
                </div>
                <div class="row">
                  <!-- Up Vote - Down Vote section -->
                  <div class="col-1 net-votes">

                      <div ng-if="user.name == 'anonymousUser'">
                        <button ng-if="user.name == 'anonymousUser'" class="btn pt-0 pb-0"><i class="fa fa-2x fa-arrow-up" data-toggle="modal" data-target="#loginModal"></i></button>
                        <div>
                          <h4>{{answer.votesUp - answer.votesDown}}</h4>
                        </div>
                        <button class="btn pt-0 pb-0"><i class="fa fa-1x fa-arrow-down" data-toggle="modal" data-target="#loginModal"></i></button>
                      </div>
                      <div ng-if="user.name != 'anonymousUser'">

                        <div ng-if="!isEnabled">
                          <button class="btn pt-0 pb-0"><i class="fa fa-1x fa-arrow-up" data-toggle="modal" data-target="#confirmMailModal"></i></button>
                          <div>
                            <h4>{{answer.votesUp - answer.votesDown}}</h4>
                          </div>
                          <button class="btn pt-0 pb-0"><i class="fa fa-1x fa-arrow-down" data-toggle="modal" data-target="#confirmMailModal"></i></button>
                        </div>
                        <div ng-if="isEnabled">
                          <div class="net-votes">
                            <button class="btn pt-0 pb-0" type="submit" ng-click="upVote(answer)">
                              <i ng-if="answer.getUserAuthVote(user.name) > 0" class="fa fa-2x fa-arrow-up votedUp"></i>
                              <i ng-if="answer.getUserAuthVote(user.name) <= 0" class="fa fa-2x fa-arrow-up"></i>
                            </button>
                            <div>
                              <h4>{{answer.votesUp - answer.votesDown}}</h4>
                            </div>
                          </div>

                          <div class="net-votes">
                            <button class="btn pt-0 pb-0" type="submit" ng-click="downVote(answer)">
                              <i ng-if="answer.getUserAuthVote(username) < 0" class="fa fa-2x fa-arrow-down votedDown"></i>
                              <i ng-if="answer.getUserAuthVote(username) >= 0" class="fa fa-2x fa-arrow-down"></i>
                            </button>
                          </div>
                        </div>
                      </div>

                  </div>
                  <div class="col-10">
                    <div class="row post-description align-items-center description-text">
                      {{answer.description}}
                    </div>
                    <div class="row extra-info">
                      <div class="col-9 tags"></div>
                      <div class="col">
                        <div class="row d-flex secondary-color text-right post-date">
                          {{answer.timestamp.toLocaleString()}}
                        </div>
                        <div class="row d-flex secondary-color text-right">
                          <a ng-href="#/users/{{answer.user.username}}">{{answer.user.username}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


      </div>

        <div ng-if="answers.isEmpty()" class="row justify-content-center mt-2">
          {{'POST_NO_ANSWERS_YET' | translate}}
        </div>

  </div>


  <div class="answers">
    <div class="title">
      <h4>{{'POST_ANSWER_YOURSELF' | translate}}</h4>
    </div>

    <!-- Leave a comment -->
    <div class="container margin-left">
      <div class="row comment-yourself">
        <div>

          <form name="postCommentForm" action="/posts/comment" method="post">

            <textarea id="comment" name="commentInput" class="form-control" aria-label="With textarea" rows="5" cols="100"></textarea>
            <!-- Not enabled to post Comment -->
            <button ng-if="user.name != 'anonymousUser' && !isEnable" type="button"  disabled class="btn btn-info margin-top d-flex justify-content-flex-end" data-toggle="modal" data-target="#confirmMailModal">{{'BUTTON_SUBMIT' | translate}}</button>
            <button ng-if="user.name == 'anonymousUser'" type="button"  disabled class="btn btn-info margin-top d-flex justify-content-flex-end" data-toggle="modal" data-target="#loginModal">{{'BUTTON_SUBMIT' | translate}}</button>
            <!-- Can post Comment -->
            <button ng-if="user.name != 'anonymousUser' && isEnable" type="submit" ng-click="commentPost(post)" id="commentButton" disabled class="btn btn-info margin-top d-flex justify-content-flex-end">{{'BUTTON_SUBMIT' | translate}}</button>

          </form>
        </div>
      </div>
    </div>

  </div>

  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">{{'POST_DELETE' | translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row  justify-content-center align-items-center margin-top">
            <div>{{'POST_DELETE_MESSAGE' | translate}}</div>
          </div>
          <div class="row justify-content-center align-items-center margin-top">
              <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal" aria-label="Close">{{'BUTTON_CANCEL' | translate}}</button>
              <button type="submit" class="btn btn-danger ml-4">{{'BUTTON_DELETE' | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

