<div ng-controller="TechsCtrl">
  <div class="sidenav overflow-auto">
    <div ng-repeat="category in categories">
      <a href={{category.location}}>{{category.category}}</a>
    </div>
  </div>

  <div class="content">
    <div class="page-title">
      <h2>{{HOME_TECHS_TITLE | translate}}</h2>
    </div>
    <div class="page-description">

    </div>

    <div>
      <div ng-if="isMod">
        <div class="d-flex row justify-content-center align-middle">
          <h4 class="mx-2 my-auto">{{TECHS_ADD_NEW | translate}}</h4>

          <a href="/add_tech">
            <button class="btn btn-info" type="button">
              <i class="fa fa-plus fa-sm mr-1"></i>
              {{BUTTON_ADD_TECH | translate}}
            </button>
          </a>
        </div>
        </divif>

        <h4 class="title">{{TECHS_BEST_RATED | translate}}</h4>

        <div class="row equal">
          <div ng-repeat="hot in hots">
            <div class="card mx-4 mb-4">
              <a href={{hot.location}}>
                <div class="card-body">
                  <div ng-if="'picture' in hot; else nullPic">
                    <div class="max-logo d-flex align-items-center justify-content-center">
                      <img src="{{hot.picture}}" alt={{TECH_PICTURE | translate }}/>
                    </div>
                  </div>
                  <ng-template #nullPic>
                    <div class="max-logo d-flex align-items-center justify-content-center">
                      <img src="../../images/tech_picture_default.png" alt={{TECH_PICTURE | translate }}/>
                    </div>
                  </ng-template>
                </div>
                <div class="card-footer text-dark">{{hot.name}}</div>
              </a>
            </div>
            </c:forEach>
          </div>
        </div>

        <div>
          <div ng-if="isPresent">
            <div ng-if="interestsList.length!=0">
              <h4 class="title">{{TECHS_TASTES | translate}}</h4>
              <div class="row equal">
                <div ng-repeat="tech in interestsList">
                  <div class="card mx-4 mb-4">
                    <a href={{tech.location}}>
                      <div class="card-body">
                        <div ng-if="'picture' in tech; else nullPic">
                          <div class="max-logo d-flex align-items-center justify-content-center">
                            <img src="{{tech.picture}}" alt={{TECH_PICTURE | translate }}/>
                          </div>
                        </div>
                        <ng-template #nullPic>
                          <div class="max-logo d-flex align-items-center justify-content-center">
                            <img src="../../images/tech_picture_default.png" alt={{TECH_PICTURE | translate }}/>
                          </div>
                        </ng-template>

                      </div>
                      <div class="card-footer text-dark">{{tech.name}}</div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
