<div ng-controller="TechCtrl">
  <div class="sidenav overflow-auto">
    <div ng-repeat="category in categories">
      <a href="#/{{category.location}}">{{ "CATEGORY_" + category.category | uppercase | translate}}</a>
    </div>
  </div>

<div class="content">

  <div class="container d-flex">
    <div class="row">
      <div class="col-2">

        <div ng-if="tech.picture != undefined">
          <div class="max-logo d-flex align-items-center justify-content-center">
            <img ng-src="{{tech.picture}}" alt="{{'TECH_PICTURE' | translate }}"/>
          </div>
        </div>
        <div ng-if="tech.picture == undefined">
          <div class="max-logo d-flex align-items-center justify-content-center">
            <img src="../../images/tech_picture_default.png" alt="{{'TECH_PICTURE' | translate }}"/>
          </div>
        </div>

      </div>
      <div class="col-10">
        <div class="row">
          <div class="col">
            <span class="framework-title"><h2>{{tech.name}}</h2></span>
            <div>{{'TECH_AUTHOR' | translate }}:&nbsp;<a href="#">{{tech.author}}</a><i class="ml-2 mt-2 fas fa-rocket fa-sm rocket-color-owner" data-toggle="tooltip" title="{{'TOOLTIP_OWNER' | translate }}" ></i></div>
            <div>{{'TECH_DATE' | translate }}: {{tech.date}}</div>
            <div><a href="/search?toSearch={{tech.name}}&isPost=true">{{'TECH_SEE_POSTS_RELATED' | translate }}</a></div>

            <span class="badge badge-pill secondary-badge" data-toggle="tooltip" title="{{'TECH_ADD_TECH_CATEGORY' | translate }}">{{ "CATEGORY_" + tech.category | uppercase | translate}}</span>
            <span class="badge badge-pill secondary-badge" data-toggle="tooltip" title="{{'TECH_ADD_TECH_TYPE' | translate }}">{{ "TYPE_" + tech.type | uppercase | translate}}</span>
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <span class="fa fa-star color-star"></span>
            <span> {{tech.stars}} | {{tech.votes_cant}}</span>
            <span class="fa fa-user"></span>
          </div>
          <div class="d-flex flex-column my-auto">
            <div ng-if="isAdmin || isOwner">
              <div class="mb-4">
                <a href="/#" >
                  <button class="btn btn-info btn-block text-nowrap" type="button">
                    <i class="fa fa-edit fa-sm mr-1"></i>
                    {{'BUTTON_EDIT_TECH' | translate }}
                  </button>
                </a>
              </div>
              <div>
                <button class="btn btn-danger btn-block text-nowrap" type="button" onclick="openDeleteTechModal()">
                  <i class="fas fa-trash-alt fa-sm mr-1"></i>
                  {{'BUTTON_DELETE_TECH' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="description">
          {{tech.description}}
        </div>
      </div>
      <div class="margin-top margin-left justify">{{tech.introduction}}</div>
    </div>
  </div>


  <!-- Content -->
  <div class="container">
    <div><h4 class="title">{{'TECH_CONTENT' | translate }}</h4></div>
    <div class="d-flex justify-content-end">

      <div ng-if="user.name == 'anonymousUser'">
        <button class="btn btn-info" type="button" data-toggle="modal" data-target="#loginModal">
          {{'BUTTON_ADD_CONTENT' | translate }}
        </button>
      </div>
      <div ng-if="user.name != 'anonymousUser'">
        <div ng-if="!isEnable">
          <button class="btn btn-info" type="button" data-toggle="modal" data-target="#loginModal">
            {{'BUTTON_ADD_CONTENT' | translate }}
          </button>
        </div>
        <div ng-if="isEnable">
          <button class="btn btn-info" type="button" data-toggle="modal" data-target="#addContentModal">
            {{'BUTTON_ADD_CONTENT' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="books.length <= 0 && courses.length  <= 0 && tutorials.length <= 0">
    <div class="d-flex align-items-center justify-content-center">
      {{'TECH_CONTENT_NOT_AVAILABLE' | translate }}
    </div>
  </div>

  <!-- Bibliography -->
  <div ng-if="books.length > 0 || books_page != 1">
    <div class="container no-overflow-x">
      <h4 class="subtitle margin-left">{{'TECH_CONTENT_BIBLIOGRAPHY' | translate }}</h4>
      <ul class="margin-bottom list-group margin-left list-group-flush description">
        <li ng-repeat="book in tech.books" class="list-group-item">
          <div class="row">
            <div class="col-10">
              <a target="_blank" href="{{book.link}}">{{book.title}}</a>
            </div>
            <div ng-if="isAdmin || verifyForFramework || user.name == book.user.name || isOwner">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="openDeleteContentModal(book.contentId)" data-toggle="modal" data-target="#deleteContentModal"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <div ng-if="user.name != 'anonymousUser' && book.user.name!=user.name && !book.isReporter(user.name) && isEnable">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="getContentId(book.contentId)" data-toggle="modal" data-target="#reportContentModal"><i class="fa fa-exclamation"></i></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <!-- Courses -->
  <div ng-if="courses.length > 0 || courses_page != 1">
    <div class="container no-overflow-x">
      <h4 class="subtitle margin-left ">{{'TECH_CONTENT_COURSES' | translate }}</h4>

      <ul class=" margin-bottom list-group margin-left list-group-flush description">

        <li ng-repeat="course in tech.courses" class="list-group-item">
          <div class="row">
            <div class="col-10">
              <a target="_blank" href="{{course.link}}">{{course.title}}</a>
            </div>
            <div ng-if="isAdmin || verifyForFramework || user.name == course.user.name || isOwner">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="openDeleteContentModal(course.contentId)" data-toggle="modal" data-target="#deleteContentModal"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <div ng-if="user.name != 'anonymousUser' && course.user.name!=user.name && !course.isReporter(user.name) && isEnable">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="getContentId(course.contentId)" data-toggle="modal" data-target="#reportContentModal"><i class="fa fa-exclamation"></i></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Courses pagination -->
    </div>
  </div>

  <!-- Tutorials -->
  <div ng-if="tutorials.length > 0 || tutorials_page != 1">
    <div class="container no-overflow-x">
      <h4 class="subtitle margin-left">{{'TECH_CONTENT_TUTORIALS' | translate }}</h4>
      <ul class="  margin-bottom list-group margin-left list-group-flush description">
        <li ng-repeat="tutorial in tech.tutorials" class="list-group-item">
          <div class="row">
            <div class="col-10">
              <a target="_blank" href="{{tutorial.link}}">{{tutorial.title}}</a>
            </div>

            <div ng-if="isAdmin || verifyForFramework || user.name == tutorial.user.name || isOwner">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="openDeleteContentModal(tutorial.contentId)" data-toggle="modal" data-target="#deleteContentModal"><i class="fa fa-trash"></i></button>
              </div>
            </div>
            <div ng-if="user.name != 'anonymousUser' && tutorial.user.name!=user.name && !tutorial.isReporter(user.name) && isEnable">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="getContentId(tutorial.contentId)" data-toggle="modal" data-target="#reportContentModal"><i class="fa fa-exclamation"></i></button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <!-- Tutorial pagination -->
    </div>
  </div>


  <!-- Comments -->
  <div ng-if="comments.length > 0 || comments_page != 1">
    <div class="container">
      <h4 class="title">{{'TECH_COMMENTS' | translate }}</h4>
    </div>

    <div class="container d-flex">
      <div ng-repeat="comment in tech.comments" class="row margin-left margin-bottom">
        <div class="col-1">
          <div>
            <div ng-if="user.name != 'anonymousUser'">
              <div ng-if="!isEnable">
                <button class=" btn upVote btn-link" data-toggle="modal" data-target="#confirmMailModal">
                  <i class="fa fa-arrow-up arrow">{{comment.votesUp}}</i>
                </button>
              </div>
              <div ng-if="isEnable">

                <button class="btn upVote btn-link" type="submit" ng-click="upVote(comment)">
                  <i ng-if="comment.getUserAuthVote(user.name) > 0" class="fa fa-arrow-up arrow votedUp">{{comment.votesUp}}</i>
                  <i ng-if="comment.getUserAuthVote(user.name) <= 0" class="fa fa-arrow-up arrow">{{comment.votesUp}}</i>
                </button>
              </div>
            </div>
            <div ng-if="user.name == 'anonymousUser'">
              <button class=" btn upVote btn-link" data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-arrow-up arrow">comment.votesUp</i>
              </button>
            </div>
          </div>
          <div>

            <div ng-if="user.name != 'anonymousUser'">
              <div ng-if="!isEnable">
                <button class=" btn upVote btn-link" data-toggle="modal" data-target="#confirmMailModal">
                  <i class="fa fa-arrow-up arrow">{{comment.votesDown}}</i>
                </button>
              </div>
              <div ng-if="isEnable">

                <button class="btn upVote btn-link" type="submit" ng-click="downVote(comment)">
                  <i ng-if="comment.getUserAuthVote(user.name) > 0" class="fa fa-arrow-down arrow votedDown">{{comment.votesDown}}</i>
                  <i ng-if="comment.getUserAuthVote(user.name) <= 0" class="fa fa-arrow-down arrow">{{comment.votesDown}}</i>
                </button>
              </div>
            </div>
            <div ng-if="user.name == 'anonymousUser'">
              <button class=" btn upVote btn-link" data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-arrow-up arrow">{{comment.votesDown}}</i>
              </button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col secondary-font">
              <a href="/users/{{comment.user.name}}">
                <div ng-if="comment.user.username == tech.author">
                  <i class="ml-2 mt-2 fas fa-rocket fa-sm rocket-color-owner" data-toggle="tooltip" title="{{'TECH_TOOLTIP_OWNER' | translate }}"></i>
                </div>
                <div ng-if="comment.user.username != tech.author && comment.user.admin">
                  <i class="ml-2 mt-2 fas fa-rocket fa-sm rocket-color-admin" data-toggle="tooltip" title="{{'TECH_TOOLTIP_ADMIN' | translate }}"></i>
                </div>
                <div ng-if="comment.user.username != tech.author && !comment.user.admin && isVerifyForFramework">
                  <i class="ml-2 mt-2 fas fa-rocket fa-sm rocket-color" data-toggle="tooltip" title="{{'TECH_TOOLTIP_MODERATOR' | translate }}"></i>
                </div>
                {{comment.user.username}}
              </a>
            </div>
            <div class="col third-font d-flex justify-content-flex-end">
              {{comment.date}}
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{comment.description}}
            </div>

            <div ng-if="user.name != 'anonymousUser' && user.name != comment.user.username && !comment.isReporter(user.name) && !isAdmin && !isOwner && isEnable">
              <div class="col d-flex justify-content-end align-items-end">
                <button class="btn btn-link" onclick="getCommentId(comment.commentId)" data-toggle="modal" data-target="#reportCommentModal"><i class="fa fa-exclamation"></i></button>
              </div>
            </div>
            <div ng-if="isAdmin || isOwner || comment.user.username == user.name">
                <span class="col d-flex justify-content-end align-items-end">
                  <button class="btn btn-link" onclick="openDeleteCommentModal(comment.commentId)"  data-toggle="modal" data-target="#deleteCommentModal"><i class="fa fa-trash"></i></button>
                </span>
            </div>
          </div>
          <div class="row padding-bottom">

                <div ng-if="user.name != 'anonymousUser'">
                    <div ng-if="!isEnable">
                      <button type="button" class="btn btn-light" data-toggle="modal" data-target="#confirmMailModal">
                        <i class="arrow fas fa-comment-alt fa-xs"></i><span class="reply padding-left">{{'BUTTON_COMMENT_REPLY' | translate }}</span>
                      </button>
                    </div>
                    <div ng-if="isEnable">
                      <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#Reply${comment.commentId}" aria-expanded="false" aria-controls="multiCollapseExample2">
                        <i class="arrow fas fa-comment-alt fa-xs"></i><span class="reply padding-left">{{'BUTTON_COMMENT_REPLY' | translate }}</span>
                      </button>
                    </div>
                </div>
                <div ng-if="user.name == 'anonymousUser'">
                  <button type="button" class="btn btn-light" data-toggle="modal" data-target="#loginModal">
                    <i class="arrow fas fa-comment-alt fa-xs"></i><span class="reply padding-left">{{'BUTTON_COMMENT_REPLY' | translate }}</span>
                  </button>
                </div>

            <span class="padding-left">
              <button type="button" class="btn btn-light" data-toggle="collapse" data-target="#See${comment.commentId}" aria-expanded="false" aria-controls="multiCollapseExample1">
                <i class="arrow fas fa-eye fa-xs"></i><span class="reply padding-left">{{'BUTTON_COMMENT_SEE_REPLIES' | translate }}</span>
              </button>
            </span>

          </div>

          <div  class="collapse multi-collapse" id="See{{comment.commentId}}">
            <div ng-if="comment.replies.length <= 0">
              <div>{{'TECH_COMMENT_NO_REPLIES' | translate }}</div>
            </div>
            <div ng-if="comment.replies.length > 0">
                <div ng-repeat="reply in comment.replies" class="row margin-left">
                  <div class="row d-flex align-items-center ">
                    <div class="vertical-divider margin-left">
                      <div class="padding-left">
                        <span class="secondary-font medium-font ">
                          {{reply.user.name}}
                        </span>
                        <span class="third-font">
                          {{reply.date}}
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row  medium-font">
                    <div class="vertical-divider margin-left">
                      <div class="padding-left">
                        {{reply.description}}
                      </div>
                    </div>
                    <div ng-if="isAdmin || isOwner || reply.user.name == user.name">
                      <span class="col d-flex justify-content-end align-items-end">
                        <button class="btn btn-link" onclick="openDeleteCommentModal(reply.commentId)"  data-toggle="modal" data-target="#deleteCommentModal"><i class="fa fa-trash"></i></button>
                      </span>
                    </div>
                    <div ng-if="user.name != 'anonymousUser' && user.name != reply.user.name && !reply.isReporter(user.name) && !isAdmin && !isOwner && isEnable">
                      <div class="col d-flex justify-content-end align-items-end">
                        <button class="btn btn-link" onclick="getCommentId(reply.commentId)" data-toggle="modal" data-target="#reportCommentModal"><i class="fa fa-exclamation"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row padding-bottom"></div>
            </div>
          </div>

          <div class="row collapse multi-collapse" id="Reply{{comment.commentId}}">
            <form name="replyForm">
              <div class="form-group">
                <label for="replyComment"> {{'TECH_REPLY_COMMENT' | translate}}</label>
                <input class="form-control" type="text" id="replyComment" ng-model="commentInput" name="commentInput" required ng-minlength="3" ng-maxlength="100" placeholder="{{'TECH_REPLY_PLACEHOLDER' | translate}}"/>
                <div ng-show="registerForm.commentInput.$dirty && registerForm.commentInput.$error.required">{{ 'FORM_ERROR_EMPTY' | translate}}</div>
                <div ng-show="registerForm.commentInput.$error.minlength || registerForm.commentInput.$error.maxlength">{{ 'FORM_ERROR_LENGTH' | translate : '{min: 3, max: 100}'}}</div>
              </div>
              <div class="d-flex justify-content-center">
                <button ng-if="replyForm.$valid" class="btn primary-button" type="submit"  ng-click="replyComment(commentInput)">{{'BUTTON_SUBMIT' | translate}}</button>
                <button ng-if="replyForm.$invalid"  disabled class="btn primary-button" type="submit" >{{'BUTTON_SUBMIT' | translate}}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Comment pagination -->
  </div>

  <!-- User Interaction -->
  <div class="container">
    <h4 class="title">{{'TECH_INTERACTIONS' | translate}}</h4>
  </div>


  <div class="container margin-left">
    <div class="row">
      <div class="col-8">
        <h5>{{'TECH_INTERACTIONS_LEAVE_COMMENT' | translate}}</h5>
        <div>
          <form name="commentForm">
            <div class="form-group">
              <label for="singleComment">{{'TECH_INTERACTIONS_LEAVE_COMMENT' | translate}}</label>
              <input class="form-control" type="text" id="singleComment" ng-model="commentInput" name="commentInput" required ng-minlength="3" ng-maxlength="100" placeholder="{{'TECH_COMMENT_PLACEHOLDER' | translate}}"/>
              <div ng-show="registerForm.commentInput.$dirty && registerForm.commentInput.$error.required">{{ 'FORM_ERROR_EMPTY' | translate}}</div>
              <div ng-show="registerForm.commentInput.$error.minlength || registerForm.commentInput.$error.maxlength">{{ 'FORM_ERROR_LENGTH' | translate : '{min: 3, max: 100}'}}</div>
            </div>
            <button ng-if="commentForm.$valid" class="btn primary-button" type="submit"  ng-click="comment(commentInput)">{{'BUTTON_SUBMIT' | translate}}</button>
            <button ng-if="commentForm.$invalid"  disabled class="btn primary-button" type="submit" >{{'BUTTON_SUBMIT' | translate}}</button>
          </form>
        </div>
      </div>

<!--      <div class="col">-->
<!--        <h5>{{'TECH_INTERACTIONS_RATING' | translate}}</h5>-->

<!--        <div class="stars">-->
<!--          <jsp:include page="ratingForm.jsp">-->
<!--            <jsp:param name="frameworkId" value="${framework.id}" />-->
<!--            <jsp:param name="isEnable" value="${isEnable}" />-->
<!--            <jsp:param name="username" value="${user.name}" />-->
<!--          </jsp:include>-->
<!--        </div>-->
<!--      </div>-->
    </div>
      <div ng-if="!hasAppliedToFramework && !isAdmin && user.name != 'anonymousUser' && allowMod && !isOwner && isEnable">
        <div class="d-flex justify-content-center align-items-center">
          <div class="card text-center">
            <div class="card-header subtitle"><h5>{{'TECH_APPLY_TITLE' | translate}}</h5></div>
            <div class="card-body">
              <p class="card-text">{{'TECH_APPLY_MESSAGE' | translate}}</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-info" onclick="applyForMod()">{{'BUTTON_APPLY' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="verifyForFramework && !isAdmin">
        <div class="d-flex justify-content-center align-items-center">
          <div class="card text-center">
            <div class="card-header subtitle"><h5>{{'TECH_STOP_TITLE' | translate}}</h5></div>
            <div class="card-body">
              <p class="card-text">{{'TECH_STOP_MESSAGE' | translate}}</p>
            </div>
            <div class="card-footer">
              <button class="btn btn-danger" onclick="stopBeingAMod()">{{'BUTTON_STOP' | translate}}</button>
            </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Competition Cards -->
  <div ng-if="competitors.length > 0">
    <div class="container">
      <h4 class="title">{{'TECH_COMPETITION' | translate}}</h4>
    </div>


    <div class="container d-flex">
        <div ng-repeat="competitor in tech.competitors" class="card mini-card mx-3 mb-4">
          <a href="/techs/{{competitor.category}}/{{competitor.id}}">
          <div class="card-body d-flex align-items-center justify-content-center">
            <div ng-if="competitor.picture != undefined" >
                <div class="mini-logo d-flex align-items-center justify-content-center">
                  <img ng-src="{{competitor.picture}}" alt="{{'TECH_PICTURE' | translate }}"/>
                </div>
              </div>
              <div ng-if="competitor.picture == undefined">
                <div class="mini-logo d-flex align-items-center justify-content-center">
                  <img src="../../images/tech_picture_default.png"  alt="{{'TECH_PICTURE' | translate }}"/>
                </div>
              </div>
          </div>
          <div class="card-footer text-dark">${competitor.name}</div>
          </a>
        </div>
    </div>

  </div>

<!--  &lt;!&ndash; Modals &ndash;&gt;-->

<!--  &lt;!&ndash;Login Modal &ndash;&gt;-->

<!--  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="loginModalLabel"><spring:message code="user.not_logged"/></h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row d-flex justify-content-center align-items-center">-->
<!--            <img src="<c:url value="/resources/assets/logo.png"/>" width="60" height="60" class="d-inline-block align-top" alt="Tech Launcher Logo">-->
<!--          </div>-->
<!--          <div class="row justify-content-center align-items-center margin-top">-->
<!--            <button type="button" class="btn btn-info" onclick="window.location.href = '<c:url value="/login"/>'"><spring:message code="button.login"/></button>-->
<!--          </div>-->
<!--          <div class="row  justify-content-center align-items-center margin-top">-->
<!--            <div><spring:message code="login.sign_up_question"/> <a href="<c:url value="/register"/>"><spring:message code="button.sign_up"/></a>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Confirm mail Modal &ndash;&gt;-->
<!--  <div class="modal fade" id="confirmMailModal" tabindex="-1" role="dialog" aria-labelledby="confirmMailModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="confirmMailModalLabel"><spring:message code="register.error.email_status"/></h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row d-flex justify-content-center align-items-center">-->
<!--            <img src="<c:url value="/resources/assets/logo.png"/>" width="60" height="60" class="d-inline-block align-top" alt="Tech Launcher Logo">-->
<!--          </div>-->
<!--          <div class="row justify-content-center align-items-center margin-top">-->
<!--            <div><spring:message code="register.error.confirm_email"/></div>-->
<!--          </div>-->
<!--          <div class="row  justify-content-center align-items-center margin-top">-->
<!--            <div><a href="<c:url value="/register/resend_token"/>"><spring:message code="button.resend"/></a></div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Content Modal &ndash;&gt;-->
<!--  <div class="modal fade" id="addContentModal" tabindex="-1" role="dialog" aria-labelledby="addContentModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header container">-->

<!--          <h5 class="modal-title" id="addContentLabel"><spring:message code="tech.content.form"/></h5>-->

<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          </button>-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </div>-->
<!--        <div class="modal-body container">-->
<!--          <jsp:include page="contentForm.jsp">-->
<!--            <jsp:param name="frameworkId" value="${framework.id}" />-->
<!--          </jsp:include>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div id="snackbar"><spring:message code="tech.content.uploaded_content"/></div>-->

<!--  <div id="snackbarModApplication"><spring:message code="tech.content.pending_approval"/></div>-->

<!--  &lt;!&ndash;Delete Content Modal &ndash;&gt;-->

<!--  <div class="modal fade" id="deleteContentModal" tabindex="-1" role="dialog" aria-labelledby="deleteContentModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="deleteContentModalLabel"><spring:message code="tech.content.delete"/></h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row  justify-content-center align-items-center margin-top">-->
<!--            <div><spring:message code="tech.content.delete.message"/></div>-->
<!--          </div>-->
<!--          <div class="row justify-content-center align-items-center margin-top">-->

<!--            <c:url value="/content/delete" var="postPathDeleteContent"/>-->
<!--            <form:form modelAttribute="deleteContentForm" action="${postPathDeleteContent}" method="post">-->
<!--              <form:label path="deleteContentFrameworkId"><form:input  class="input-wrap" path="deleteContentFrameworkId" type="hidden" value="${framework.id}"/></form:label>-->
<!--              <form:label path="deleteContentId"><form:input  class="input-wrap" path="deleteContentId" type="hidden" id="contentIdDeleteInput"/></form:label>-->
<!--              <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal" aria-label="Close"><spring:message code="button.cancel"/></button>-->
<!--              <button type="submit" class="btn btn-danger ml-4"><spring:message code="button.delete"/></button>-->
<!--            </form:form>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Report Modals &ndash;&gt;-->
<!--  <div class="modal fade" id="reportContentModal" tabindex="-1" role="dialog" aria-labelledby="reportContentModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header container">-->

<!--          <h5 class="modal-title" id="reportContentLabel"><spring:message code="tech.content.report"/></h5>-->

<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          </button>-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </div>-->
<!--        <div class="modal-body container">-->
<!--          <c:url value="/content/report" var="postPathReport" />-->
<!--          <form:form modelAttribute="reportForm" action="${postPathReport}" method="post">-->
<!--            <div class="form-group">-->
<!--              <div><form:label path="description"><spring:message code="tech.content.report.reason"/></form:label></div>-->
<!--              <div><form:input  path="description"  class="form-control" type="text"/></div>-->
<!--              <form:errors path="description" element="p" cssClass="formError"/>-->
<!--            </div>-->
<!--            <form:label path="id">-->
<!--              <form:input  class="input-wrap" path="id" type="hidden" value="" id="reportContentId"/>-->
<!--            </form:label>-->
<!--            <form:label path="reportFrameworkId">-->
<!--              <form:input class="input-wrap" path="reportFrameworkId" type="hidden" value="${framework.id}"/>-->
<!--            </form:label>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <input class="btn btn-danger" type="submit" value="<spring:message code="button.submit"/>"/>-->
<!--            </div>-->
<!--            &lt;!&ndash; <button type="submit" class="btn btn-info d-flex align-items-center justify-content-center">SUBMIT</button>&ndash;&gt;-->
<!--          </form:form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="modal fade" id="reportCommentModal" tabindex="-1" role="dialog" aria-labelledby="reportCommentModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header container">-->

<!--          <h5 class="modal-title" id="reportCommentLabel"><spring:message code="tech.comment.report"/></h5>-->

<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--          </button>-->
<!--          <span aria-hidden="true">&times;</span>-->
<!--        </div>-->
<!--        <div class="modal-body container">-->
<!--          <c:url value="/comment/report" var="postPathReportComment" />-->
<!--          <form:form modelAttribute="reportCommentForm" action="${postPathReportComment}" method="post">-->
<!--            <div class="form-group">-->
<!--              <div><form:label path="reportCommentDescription"><spring:message code="tech.comment.report.reason"/></form:label></div>-->
<!--              <div><form:input  path="reportCommentDescription" class="form-control" type="text"/></div>-->
<!--              <form:errors path="reportCommentDescription" element="p" cssClass="formError"/>-->
<!--            </div>-->
<!--            <form:label path="reportCommentId">-->
<!--              <form:input  class="input-wrap" path="reportCommentId" type="hidden" value="" id="reportCommentId"/>-->
<!--            </form:label>-->
<!--            <form:label path="reportCommentFrameworkId">-->
<!--              <form:input class="input-wrap" path="reportCommentFrameworkId" type="hidden" value="${framework.id}"/>-->
<!--            </form:label>-->
<!--            <div class="d-flex justify-content-center">-->
<!--              <input class="btn btn-danger" type="submit" value="<spring:message code="button.submit"/>"/>-->
<!--            </div>-->
<!--            &lt;!&ndash; <button type="submit" class="btn btn-info d-flex align-items-center justify-content-center">SUBMIT</button>&ndash;&gt;-->
<!--          </form:form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Delete Comment Modal &ndash;&gt;-->

<!--  <div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="deleteCommentModalLabel"><spring:message code="tech.comment.delete"/></h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row  justify-content-center align-items-center margin-top">-->
<!--            <div><spring:message code="tech.comment.delete.message"/></div>-->
<!--          </div>-->
<!--          <div class="row justify-content-center align-items-center margin-top">-->
<!--            <c:url value="/comment/delete" var="postPathDeleteCommment"/>-->
<!--            <form:form modelAttribute="deleteCommentForm" action="${postPathDeleteCommment}" method="post">-->
<!--              <form:label path="commentDeleteFrameworkId"><form:input  class="input-wrap" path="commentDeleteFrameworkId" type="hidden" value="${framework.id}"/></form:label>-->
<!--              <form:label path="commentDeleteId"><form:input  class="input-wrap" path="commentDeleteId" type="hidden" id="commentIdDeleteInput"/></form:label>-->
<!--              <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal" aria-label="Close"><spring:message code="button.cancel"/></button>-->
<!--              <button type="submit" class="btn btn-danger ml-4"><spring:message code="button.delete"/></button>-->
<!--            </form:form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="modal fade" id="deleteTechModal" tabindex="-1" role="dialog" aria-labelledby="deleteTechModalLabel" aria-hidden="true">-->
<!--    <div class="modal-dialog" role="document">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h5 class="modal-title" id="deleteTechModalLabel"><spring:message code="tech.delete"/></h5>-->
<!--          <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--            <span aria-hidden="true">&times;</span>-->
<!--          </button>-->
<!--        </div>-->
<!--        <div class="modal-body">-->
<!--          <div class="row  justify-content-center align-items-center margin-top">-->
<!--            <div><spring:message code="tech.delete.message"/></div>-->
<!--          </div>-->
<!--          <div class="row justify-content-center align-items-center margin-top">-->
<!--            <c:url value="/delete_tech" var="postPathDeleteCommment"/>-->
<!--            <form:form modelAttribute="deleteFrameworkForm" action="${postPathDeleteCommment}" method="post">-->
<!--              <form:input  class="input-wrap" path="frameworkIdx" type="hidden" value="${framework.id}"/>-->
<!--              <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal" aria-label="Close"><spring:message code="button.cancel"/></button>-->
<!--              <button type="submit" class="btn btn-danger ml-4" ><spring:message code="button.delete"/></button>-->
<!--            </form:form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
</div>

</div>
