<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div class="d-flex justify-content-center">
    <table align="center">
      <tr><td align="center"><h2 th:text="#{email.welcome}"> </h2></td></tr>
      <!--<tr><td align="center"><img th:src="@{../../webapp/resources/assets/logo.png}" alt="Tech Launcher logo" width="200" height="200"></td></tr>-->
      <tr><td align="center"><h3 th:text="#{email.confirmation.body}"></h3></td></tr>
      <tr><td align="center"><p th:text="${message}"></p></td></tr>
      <tr><td><p  th:text="#{email.greetings}"></p></td></tr>
      <tr><td><p> Tech Launcher </p></td></tr>
    </table>
  </div>
</body>
</html>