<div class="modal fade" id="reportContentModal" tabindex="-1" role="dialog" aria-labelledby="reportContentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header container">

        <h5 class="modal-title" id="reportContentLabel">{{'TECH_REPORT_CONTENT' | translate}}</h5>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        </button>
        <span aria-hidden="true">&times;</span>
      </div>
      <div class="modal-body container">

        <form name="contentReportForm">

          <div class="form-group">
            <label for="description">{{'TECH_REPORT_DESCRIPTION' | translate}}</label>
            <input class="form-control" type="text" id="description" ng-model="descriptionInput" name="descriptionInput" required ng-minlength="4" ng-maxlength="500" placeholder="{{'ADD_CONTENT_TITLE_PLACEHOLDER' | translate}}"/>
            <div ng-show="contentReportForm.descriptionInput.$dirty && contentReportForm.descriptionInput.$error.required">{{ 'FORM_ERROR_EMPTY' | translate}}</div>
            <div ng-show="contentReportForm.descriptionInput.$error.minlength || contentReportForm.descriptionInput.$error.maxlength">{{ 'FORM_ERROR_LENGTH' | translate : '{min: 4, max: 500}'}}</div>
          </div>

          <div class="d-flex justify-content-center">
            <button ng-if="contentReportForm.$valid" class="btn primary-button" type="submit"  ng-click="report(descriptionInput)">{{'BUTTON_SUBMIT' | translate}}</button>
            <button ng-if="contentReportForm.$invalid"  disabled class="btn primary-button" type="submit" >{{'BUTTON_SUBMIT' | translate}}</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
