<div class="error-background">
  <div class="error-body">
    <div class="mx-auto d-flex"></div>
    <div class="mx-auto">
      <div class="d-flex flex-column justify-content-center mx-4 mb-4 mt-4">
        <div class="mx-auto">
          <img src="../images/error_image.png" class="d-block align-top" alt="Error image">
        </div>
        <div class="mx-auto mt-4">
          <h4>{{'ERROR_DESCRIPTION' | translate}}</h4>
        </div>
        <div class="mx-auto mt-4">
          <a class="btn primary-button" href="#/" role="button">
            {{'BUTTON_BACK_TO_HOME' | translate}}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
