<div ng-controller="ExploreCtrl">
  <div class="content-search">
    <div class="sidebar-search">
      <div class="d-flex justify-content-center">
        <button class="btn btn-width my-2 my-sm-0 primary-button" type="button" onclick="search()">{{'EXPLORE_FILTER' | translate}}</button>
      </div>

      <!-- Filter By Categories -->
      <div class="subtitle"><h4>{{'EXPLORE_CATEGORIES' | translate}}</h4></div>

        <div ng-repeat="category in categories" class="form-check">
          <div ng-if="$index <= 5 ">
            <input class="form-check-input" type="checkbox" value="" id="check{{category}}">
            <label class="form-check-label" for="check{{category}}">
              {{category}}
            </label>
          </div>
        </div>

      <div>
        <button id="showMoreCategories" class="btn btn-link" onclick="showMore('Categories')">{{'EXPLORE_SHOW_MORE' | translate}}</button>
      </div>
      <div class="hide" id="hiddenCategories">
          <div ng-repeat="category in categories" class="form-check">
            <div ng-if="$index >= 6">
              <input class="form-check-input" type="checkbox" value="" >
              <label class="form-check-label" for="check{{category}}">
                {{category}}
              </label>
            </div>
          </div>
        <div>
          <button id="showLessCategories" class="btn btn-link" onclick="showLess('Categories')">{{'EXPLORE_SHOW_LESS' | translate}}</button>
        </div>
      </div>


      <!-- Filter By Types -->
      <div class="subtitle sidebar-title"><h4>{{'EXPLORE_TYPES' | translate}}</h4></div>

        <div ng-repeat="type in types" class="form-check">
          <div ng-if="$index <= 5">
            <input class="form-check-input" type="checkbox" value="">
            <label class="form-check-label" for="check{{type}}">
              {{type}}
            </label>
          </div>
        </div>

      <div>
        <button id="showMoreTypes" class="btn btn-link" onclick="showMore('Types')">{{'EXPLORE_SHOW_MORE' | translate}}</button>
      </div>
      <div class="hide" id="hiddenTypes">

          <div ng-repeat="type in types" class="form-check">
            <div ng-if="$index >= 6">
              <input class="form-check-input" type="checkbox" value="" id="check{{type}}">
              <label class="form-check-label" for="check{{type}}">
                {{type}}
              </label>
            </div>
          </div>

        <div>
          <button id="showLessTypes" class="btn btn-link" onclick="showLess('Types')">{{'EXPLORE_SHOW_LESS' | translate}}</button>
        </div>
      </div>


      <!--Filter By Comments Update Date-->

      <div class="subtitle sidebar-title"><h4>{{'EXPLORE_UPDATE_DATE' | translate}}</h4></div>

      <span>
        <select id="update-date-dropdown">
          <option value="0" selected="dateUpdate == 0 ? selected : null">{{'EXPLORE_ANY_DATE' | translate}}</option>
          <option value="1" selected="dateUpdate == 1 ? selected : null">{{'EXPLORE_LAST_DAYS' | translate}}</option>
          <option value="2" selected="dateUpdate == 2 ? selected : null">{{'EXPLORE_LAST_WEEK' | translate}}</option>
          <option value="3" selected="dateUpdate == 3 ? selected : null">{{'EXPLORE_LAST_MONTH' | translate}}</option>
          <option value="4" selected="dateUpdate == 4 ? selected : null">{{'EXPLORE_LAST_MONTHS' | translate}}</option>
          <option value="5" selected="dateUpdate == 5 ? selected : null">{{'EXPLORE_LAST_YEAR' | translate}}</option>
        </select>
      </span>

      <!--Filter By Comments Date-->

      <div class="subtitle sidebar-title"><h4>{{'EXPLORE_COMMENT_DATE' | translate}}</h4></div>

      <span>
        <select id="comments-date-dropdown">
          <option value="0" selected="dateComment == 0 ? selected : null">{{'EXPLORE_ANY_DATE' | translate}}</option>
          <option value="1" selected="dateComment == 1 ? selected : null">{{'EXPLORE_LAST_DAYS' | translate}}</option>
          <option value="2" selected="dateComment == 2 ? selected : null">{{'EXPLORE_LAST_WEEK' | translate}}</option>
          <option value="3" selected="dateComment == 3 ? selected : null">{{'EXPLORE_LAST_MONTH' | translate}}</option>
          <option value="4" selected="dateComment == 4 ? selected : null">{{'EXPLORE_LAST_MONTHS' | translate}}</option>
          <option value="5" selected="dateComment == 5 ? selected : null">{{'EXPLORE_LAST_YEAR' | translate}}</option>
        </select>
      </span>


      <!--Filter By Comments Amount-->

      <div class="subtitle sidebar-title"><h4>{{'EXPLORE_COMMENTS' | translate}}</h4></div>

      <span>
        <select id="comments-dropdown">
          <option value="0" selected="commentAmount == 0 ? selected : null">{{'EXPLORE_COMMENTS_ALL' | translate}}</option>
          <option value="1" selected="commentAmount == 1 ? selected : null">{{'EXPLORE_COMMENTS_FROM' | translate : '{amount:1}' }}</option>
          <option value="5" selected="commentAmount == 2 ? selected : null">{{'EXPLORE_COMMENTS_FROM' | translate : '{amount:5}' }}</option>
          <option value="10" selected="commentAmount == 3 ? selected : null">{{'EXPLORE_COMMENTS_FROM' | translate : '{amount:10}' }}</option>
          <option value="20" selected="commentAmount == 4 ? selected : null">{{'EXPLORE_COMMENTS_FROM' | translate : '{amount:20}' }}</option>
          <option value="50" selected="commentAmount == 5 ? selected : null">{{'EXPLORE_COMMENTS_FROM' | translate : '{amount:50}' }}</option>
        </select>
      </span>


      <!--Filter By Rating-->
      <div id="techRating">
        <div class="subtitle sidebar-title"><h4>{{'EXPLORE_RATING' | translate}}</h4></div>

        <span>{{'EXPLORE_FROM' | translate}}</span>
        <span>
          <select id="stars-dropdown-1">
            <option value="0" selected="starsQuery1 == 0 ? selected : null">0</option>
            <option value="1" selected="starsQuery1 == 1 ? selected : null">1</option>
            <option value="2" selected="starsQuery1 == 2 ? selected : null">2</option>
            <option value="3" selected="starsQuery1 == 3 ? selected : null">3</option>
            <option value="4" selected="starsQuery1 == 4 ? selected : null">4</option>
            <option value="5" selected="starsQuery1 == 5 ? selected : null">5</option>
          </select>
        </span>
        <span>{{'EXPLORE_TO_5_STARS' | translate}}</span>
        <span>
          <select id="stars-dropdown-2">
            <option value="0" selected="starsQuery2 == 0 ? selected : null">0</option>
            <option value="1" selected="starsQuery2 == 1 ? selected : null">1</option>
            <option value="2" selected="starsQuery2 == 2 ? selected : null">2</option>
            <option value="3" selected="starsQuery2 == 3 ? selected : null">3</option>
            <option value="4" selected="starsQuery2 == 4 ? selected : null">4</option>
            <option value="5" selected="starsQuery2 == 5 || starsQuery2==null ? selected : null">5</option>
          </select>
        </span>
      </div>

    </div>


    <!-- Search Bar -->
    <div class="search-bar sidebar-title">
      <form class="form-inline my-2 my-lg-0" method="post" onsubmit="search()" id="search">
        <input id="searchInput" class="form-control mr-sm-2" type="text" value="{{techNameQuery}}" placeholder="{{'EXPLORE_SEARCH_TITLE' | translate}}" aria-label="Search" size="80">
        <button class="btn my-2 my-sm-0 primary-button" type="button" onclick="search()">{{'EXPLORE_SEARCH_TITLE' | translate}}</button>
      </form>
      <div class="form-check" id="searchByNameCheckbox">
        <input class="form-check-input" type="checkbox" value="" id="searchOnlyByName">
        <label class="form-check-label" for="searchOnlyByName">
          {{'EXPLORE_SEARCH_ONLY_BY_NAME' | translate}}
        </label>
      </div>

      <!-- Sort -->
      <div class="d-flex flex-row justify-content-end">
        <div class="mx-2">
          <label class="subtitle" for="sortSelect">{{'EXPLORE_SORT_BY' | translate}}</label>
          <select class="form-control" id="sortSelect" oninput="sort()">
            <option value="0" selected="sortValue  == 0 ? selected : null">{{'EXPLORE_SORT_BY_NONE' | translate}}</option>
            <option value="1" selected="sortValue  == 1 ? selected : null">{{'EXPLORE_SORT_BY_RATING' | translate}}</option>
            <option value="2" selected="sortValue  == 2 ? selected : null">{{'EXPLORE_SORT_BY_COMMENTS_AMOUNT' | translate}}</option>
            <option value="3" selected="sortValue  == 3 ? selected : null">{{'EXPLORE_SORT_BY_TECH_UPDATED' | translate}}</option>
            <option value="4" selected="sortValue  == 4 ? selected : null">{{'EXPLORE_SORT_BY_RECENTLY_COMMENTED' | translate}}</option>
          </select>
        </div>
        <div class="mx-2">
          <label class="subtitle" for="orderSelect">{{'EXPLORE_ORDER_BY' | translate}}</label>
          <select class="form-control" id="orderSelect" oninput="sort()">
            <option value="1" selected="orderValue  == 1 ? selected : null">{{'EXPLORE_ORDER_BY_DESCENDANT' | translate}}</option>
            <option value="-1" selected="orderValue  == -1 ? selected : null">{{'EXPLORE_ORDER_BY_ASCENDANT' | translate}}</option>
          </select>
        </div>
      </div>
    </div>


    <!--Search Results For / Explore -->
    <div class="page-description"></div>
    <div class="page-title">

      <div ng-switch="empty techNameQuery and empty starsQuery1 and empty starsQuery2 and empty categoriesQuery and empty typesQuery and empty orderValue and empty commentAmount and empty dateUpdate and empty dateComment and empty sortValue">
        <div ng-switch-when="true">
          <h2>{{'EXPLORE_TITLE' | translate}}</h2>
        </div>
        <div ng-switch-when="false">
          <h2>{{'EXPLORE_SEARCH_RESULTS' | translate}} (<span id="resultsNumber"></span>)</h2>
        </div>
      </div>
    </div>

    <!--Search Results Badges -->
    <div class="row">
      <div class="col-8">
        <div class="margin-top">

          <span ng-if="!techNameQuery.isEmpty()" id="name" class="badge badge-pill secondary-badge">{{techNameQuery}}"</span>

          <span ng-if="!categoriesQuery.isEmpty()">
              <span ng-repeat="categoryQuery in categoriesQuery" id="name{{categoryQuery}}" class="badge badge-pill secondary-badge">{{category}}</span>
          </span>

          <span ng-if="!typesQuery.isEmpty()">
              <span ng-repeat="typeQuery in typesQuery" id="name{{typeQuery}}" class="badge badge-pill secondary-badge">{{type}}</span>
          </span>

          <span ng-if="!starsQuery1.isEmpty()" id="stars" class="badge badge-pill secondary-badge">{{'EXPLORE_STARS_QUERY' | translate : '{left: starsQuery1, right:starsQuery2}' }}</span>

          <span ng-if="!commentAmount.isEmpty() && commentAmount!=0" id="commentsAmount" class="badge badge-pill secondary-badge">{{'EXPLORE_COMMENTS_QUERY' | translate : '{amount: commentAmount}' }}</span>

          <span ng-if="!dateUpdate.isEmpty() && dateUpdate!=0" id="dateUpdate" class="badge badge-pill secondary-badge">{{'EXPLORE_UPDATE_DATE_QUERY' | translate : '{amount: dateUpdateTranslation}' }}</span>

          <span ng-if="!dateComment.isEmpty() && dateComment!=0" id="dateComment" class="badge badge-pill secondary-badge">{{'EXPLORE_COMMENTS_DATE_QUERY' | translate : '{amount: dateCommentTranslation}' }}</span>

        </div>
      </div>
    </div>

    <div class="page-description"></div>

    <ul class="nav nav-tabs" id="searchTabs">
      <li class="nav-item">
        <a  class="nav-link" href="#techs" data-toggle="tab" role="tab" aria-controls="techs" aria-selected="true">{{'EXPLORE_TECHS' | translate}}</a>
      </li>
      <li class="nav-item">
        <a   class="nav-link" href="#posts" data-toggle="tab" role="tab" aria-controls="posts" aria-selected="false">{{'EXPLORE_POSTS' | translate}}</a>
      </li>
    </ul>

    <div class="tab-content mt-4">
      <div class="tab-pane active" id="techs">

           <div ng-if="matchingTechs.frameworksAmount == 0 ">{{'EXPLORE_NOT_FOUND' | translate}}</div>

            <div class="row equal">
                <div ng-repeat="tech in matchingTechs.frameworks" class="card mx-4 mb-4">
                  {{tech.name}}
                  <a ng-href="{{tech.location}}">
                  <div class="card-body">

                    <div ng-if="tech.picture != null " class="max-logo d-flex align-items-center justify-content-center">
                      <img src="/techs/{{tech.id}}/image" alt="{{'TECH_PICTURE' | translate}}"/>
                    </div>
                    <div ng-if="tech.picture == null" class="max-logo d-flex align-items-center justify-content-center">
                      <img src="https://pngimg.com/uploads/question_mark/question_mark_PNG130.png" alt="{{'TECH_PICTURE' | translate}}" />
                    </div>

                  </div>
                  <div class="card-footer text-dark">
                    <span>{{tech.name}} | </span><span class="fa fa-star fa-sm"></span><span>{{tech.stars}}</span>
                  </div>
                  </a>
                </div>

            </div>

      </div>
      <!-- POSTS TAB -->
      <div class="tab-pane" id="posts">


            <div ng-if="!posts.isEmpy()">

                <div ng-repeat="post in posts.posts" class="card mb-3 post-card">
                  <div class="card-body">
                    <div class="row search-post-title ml-1">
                      <a ng-href="/posts/{{post.postId}}">{{post.postTitle}}</a>
                    </div>
                    <div class="row search-post-description ml-1">{{post.postDescription}}</div>
                    <div class="row extra-info">
                      <div class="col-9">
                          <button ng-repeat="tag in post.postTags" class="badge badge-color ml-1" onclick="goToExplore()">
                            <span ng-switch="tag.type.name()">
                              <span ng-switch-when="tech_name">{{tag.tagName}}</span>
                              <span ng-switch-when="tech_type">
                                {{tag.tagName}}
                              </span>
                              <span ng-switch-default>
                                  {{tag.tagName}}
                              </span>
                            </span>
                          </button>

                      </div>
                      <div class="col">
                        <div class="row d-flex secondary-color text-right post-date small-font">
                          {{post.timestamp.toLocaleString()}}
                        </div>
                        <div class="row d-flex secondary-color text-right small-font">
                          <a ng-href="/users/{{post.user.username}}">{{post.user.username}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            <div ng-if="posts.isEmpty()">{{'EXPLORE_NOT_FOUND' | translate}}</div>


      </div>
    </div>


  </div>
</div>
