<div ng-controller="HomeCtrl">
  <div class="introduction">
    <img class="mb-2" src="../images/logo.png" alt="Page logo">
    <h1> {{'HOME_TITLE' | translate}} </h1>
    <h4> {{'HOME_SUBTITLE'|translate}}</h4>
  </div>

  <div class="card-deck mx-2 mb-4">
    <div class="card text-center">
      <div class="card-header title-background-frameworks"><h3 class="card-title">{{'HOME_TECHS_TITLE'|translate}}</h3></div>
      <div class="card-body">
        <p class="card-text">{{'HOME_TECHS_DESCRIPTION'|translate}}</p>
      </div>
      <div class="card-footer">
        <a href="#/techs" class="btn btn-homepage">{{'HOME_TECHS_BUTTON'|translate}}</a>
      </div>
    </div>


    <div class="card text-center">
      <div class="card-header title-background-forum"><h3 class="card-title">{{'HOME_FORUM_TITLE'|translate}}</h3></div>
      <div class="card-body">
        <p class="card-text">{{'HOME_FORUM_DESCRIPTION'|translate}}</p>
      </div>
      <div class="card-footer">
        <a href="#/posts" class="btn btn-homepage align-bottom">{{'HOME_FORUM_BUTTON'|translate}}</a>
      </div>
    </div>

  </div>
</div>
