<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Tech Launcher</title>
  <meta name="description" content="">

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.scss">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- endbuild -->


</head>
<body ng-controller="IndexCtrl">
  <!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <!-- Add your site or application content here -->
  <div class="container">
    <div class="header">
      <!-- ACA METER EL NAVBAR !! -->
      <div class="sample-column">
        <nav class="navbar sticky-top navbar-expand-lg">
          <a class="navbar-brand" href="#/">
            <img src="images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            {{'NAVBAR_TITLE'|translate}}
          </a>

          <div class="navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#/explore">{{'EXPLORE_TITLE'|translate}}</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="#/techs">{{'HOME_TECHS_TITLE'| translate}}</a>
              </li>
            </ul>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#/posts">{{'FORUM_TITLE'|translate}}</a>
              </li>
            </ul>
            <div>
              <div ng-if="!searchPage">
                <form class="form-inline my-2 my-lg-0" method="post" onsubmit="searchFrameworks()" id="search">
                  <input id="searchInput" class="form-control mr-sm-2" type="search" placeholder={{'SEARCH_TITLE'|translate}} aria-label="Search">
                  <button class="btn my-2 my-sm-0" type="button" onclick="searchFrameworks()"><i class="fas fa-search"></i></button>
                </form>
              </div>
            </div>
            <div class="nav-item dropdown" id="profile-settings">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div ng-if="username != 'anonymousUser'">{{username}}</div>
                <i class="fas fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                <div ng-if="isMod">
                  <a class="dropdown-item" href="${pageContext.request.contextPath}/mod">{{'BUTTON_MODERATE'|translate}}</a>
                </div>
                <div ng-if="username != 'anonymousUser'">
                  <a class="dropdown-item" href="${pageContext.request.contextPath}/users/${param.username}">{{'BUTTON_PROFILE'|translate}}</a>
                  <a class="dropdown-item" href="${pageContext.request.contextPath}/logout">{{'BUTTON_LOGOUT'|translate}}</a>
                </div>
                <div ng-if="username == 'anonymousUser'">
                  <a class="dropdown-item" href="${pageContext.request.contextPath}/register">{{'BUTTON_SIGN_UP'|translate}}</a>
                  <a class="dropdown-item" href="${pageContext.request.contextPath}/login">{{'BUTTON_LOGIN'|translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <div ng-view=""></div>


  </div>



 <!-- build:js(.) scripts/oldieshim.js -->
  <!--[if lt IE 9]>
  <script src="bower_components/es5-shim/es5-shim.js"></script>
  <script src="bower_components/json3/lib/json3.js"></script>
  <![endif]-->
  <!-- endbuild -->
  <script src="/scripts/paths.js"></script>
  <script src="bower_components/requirejs/require.js" data-main="/scripts/build.js"></script>
</body>
</html>
