.secondary-color{
    color:grey;
}

.badge-color {
    color: white;
    background-color: #b693f5;
}

.post-title {
    font-size: 1.5em;
}

.icon-large{
    background-size: 1em;
}

.fa-angle-up{
    -webkit-text-stroke: 3px grey;
    color: grey;
}

.fa-angle-down{
    -webkit-text-stroke: 3px grey;
    color: grey;
}

.fa-angle-up:hover{
    -webkit-text-stroke: 3px black;
    color: black;
}

.fa-angle-down:hover{
    -webkit-text-stroke: 3px black;
    color: black;
}

.post-cards {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.post-card {
    width: 90%;
    height: 12em;
}

.net-votes{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.post-description {
    display: block;
    display: -webkit-box;
    height: 3em;
    line-height: 1.2;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-info {
    margin-bottom: 0em;
    margin-top: 1em;
}

.votedUp {
    color: #D7263D;
}

.votedDown {
    color: #067BC2;
}
