.page-title {
    font-size: 3em;
}

.content {
    text-align: center;
    justify-content: center;
    width: 70%;
}

label {
    float: left;
}

.content .formError {
    color: darkred;
}

.btn {
    border-radius: 10%;
    float: right;
}