
.profile
{
    min-height: 355px;
    display: inline-block;
}


.content-profile {
    justify-content: center;
    text-align: center;
    vertical-align: center;
    padding-top: 6.5em;
    padding-bottom: 2em;
    width: 100%;
}

.sticky-top-row {
    position: -webkit-sticky;
    position: sticky;
    top: 110px;
    z-index: 1020;
}

.img-slot
{
    width: 6em;
    height: 6em;
}

.divider
{
    border-top:1px solid rgba(0,0,0,0.1);
}

.emphasis.emph-comment:hover
{
    border-top: 4px solid #48bfe3;
}

.emphasis.emph-votes:hover
{
    border-top: 4px solid #FFC107;
}

.emphasis.emph-content:hover
{
    border-top: 4px solid #AFBBF2;
}

.emphasis
{
    border-top: 4px solid transparent;
}
.emphasis:hover
{
    border-top: 4px solid #733bce;
}
.emphasis h2
{
    margin-bottom:0;
}
a.tags
{
    background: #733bce;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu
{
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}
.dropdown-menu .divider
{
    background:none;
}
.dropdown-menu>li>a
{
    color:#f5f5f5;
}
.dropup .dropdown-menu
{
    margin-bottom:10px;
}
.dropup .dropdown-menu:before
{
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}