.introduction {
  justify-content: center;
  text-align: center;
  vertical-align: center;
  margin-bottom: 4em;
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: #733bce;
}

.introduction h1 {
  margin-bottom: 1em;
  color: #f1f1f1;
}

.introduction h4 {
  color: #AFBBF2;
  margin-left: 8em;
  margin-right: 8em;
  justify-content: center;
}

.title-background-frameworks {
  background-color: #340052;
  align-content: center;
}

.title-background-forum {
  background-color: #1d4c86;
  align-content: center;
}

.title-background-projects {
  background-color: #00523a;
  align-content: center;
}

.card-header h3 {
  color: #f1f1f1;
}

.card .card-background {
  background-color: #AFBBF2;
}

.btn-homepage {
  color: white;
  background-color: #1d0081;
}

.btn-homepage:hover {
  color: cyan;
}
