.mini-card{
    margin-right: 1em;
    margin-top: 1em;
}

.framework-title {
    padding-top: 1em;
    margin-bottom: 1em;
}

.description {
    color: grey;
}

.checked {
    color: yellow;
}

.carousel-color{
    color: black;
}

.comment-card{
    padding-bottom: 1em;
}

.padding-left{
    padding-left: 1em;
    margin-left: 1em;
}