nav {
    background: #0fa2a2;
    height: 4em;
}

nav a {
    color: aliceblue;
}

.sidenav {
    position: fixed;
    height: 100%;
    width: 13em;
    z-index: 1;
    top: 4em;
    left: 0;
    border-top: 0.2em solid white;
    background-color: #0fa2a2;
    overflow-x: hidden;
    padding-top: 20px;
}


.sidenav a {
    padding: 0.5em 0.5em 0.5em 1em;
    text-decoration: none;
    font-size: 1em;
    color: aliceblue;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.content {
    position: absolute;
    top: 4em;
    left: 13em;
}